<div class="headerpodex">
  <div class="izquierda">
    <div class="pokeball">
      <img class="PokebalIcono" src="https://i.pinimg.com/originals/92/64/d5/9264d5ec77eec85e69b81c66449afb3c.png" alt=""> <span>{{numeropokemons}}</span>
    </div>
    <div class="atrapados lienaizquierda">
      <img class="PokebalIcono" src="https://icon-library.com/images/pokeball-desktop-icon/pokeball-desktop-icon-28.jpg" alt=""> <span>{{numeropokemons}}</span>
    </div>
    <div class="insignia">
      <img class="PokebalIcono" src="https://img.wattpad.com/430c91576a8975b25d60a0ad341575fdf11f04d3/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6b6d43394f7533303372515574413d3d2d3731373833393834342e3135393433336164346631633661613033323335393336333135302e706e67?s=fit&w=720&h=720" alt="">
    </div>
  </div>
  <div class="centro">
    <span class="tituloPokedex">Pokedex</span>
  </div>
  <div class="derecho lienaizquierda">
    <span nz-icon nzType="menu" nzTheme="outline" class="iconoselector"></span>
    <span class="ordenado">Ordenado por Numero</span>
  </div>
</div>


<div class="cuerpo container">
  <div class="listadeitems" >
    <div *ngFor="let pokemon of pokemonentries">
      <app-pokedex-item [pokemon_entris]="pokemon"></app-pokedex-item>
    </div>

  </div>
  <div class="footerconten"></div>
</div>
