<div class="container">
  <div class="row text-center">
    <div class="col">
      <div class="Cartpokemon">
        <app-cart-pokemon [selector]="Selectorapp"></app-cart-pokemon></div>
    </div>
    <nz-button-group class="buttonGroup">
      <button nz-button class="bottonXD" nzType="primary" (click)="anterior()" >
        <span nz-icon nzType="left"></span>
        Go back
      </button>
      <button nz-button class="bottonXD" nzType="primary" (click)="siguiente()" >
        Go forward
        <span nz-icon nzType="right"></span>
      </button>
    </nz-button-group>
  </div>
</div>
