<div class="container">
  <div class="row text-center">
    <div class="col">
      <h4>Desarrollado por:</h4>
      <span>Luis Manuel Ku Caamal</span>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h4>Tecnologías usadas</h4>
      <div class="centrar">
        <ol class="flexStart">
        <li><span>Angular 14.2.0</span></li>
        <li><span>NGZorro 14.3.0</span></li>
        <li><span>NGRX store 14.2.0</span></li>
        <li><span>NGRX effects 14.2.0</span></li>
        <li><span>PokeApi V2</span></li>
      </ol>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h4>Firma</h4>
      <img
      width="150px"
      height="150px" src="../../../assets/img/firma.png" alt="">
    </div>
  </div>
</div>

