<div class="Sprite">
  <img nz-image
  width="150px"
  height="150px" [nzSrc]="ImgPokemon"
  alt="" />
</div>

<div class="contenderType">
  <div class="ContTypes">
  <div class="Type" *ngFor="let item of pokemonData.types" [style]="getStyleTypos.get(item.type.name)">
    <span>{{item.type.name|titlecase}}</span>
  </div>
</div>
</div>

<div class="contenerStat">
  <h4 class="statname">Stats</h4>
  <div class="Stats" *ngFor="let item of pokemonData.stats">
    <div class="statname">
      <Span>{{item.stat.name }}:</Span>
    </div>
    <div class="statNumber">
      <Span>{{item.base_stat }}</Span>
    </div>

  </div>
</div>

